form {
  font-family: "Roboto", sans-serif;
}

/* -------------BOUNTY MAG */

.c-bounty-close-icon {
  height: 2rem;
  width: 2rem;
}

.c-bounty-close-icon:before,
.c-bounty-close-icon:after {
  background-color: #ff5000;
  content: " ";
  height: 1.4rem;
  position: absolute;
  width: 4px;
}

.c-bounty-close-icon:before {
  transform: rotate(45deg);
}

.c-bounty-close-icon:after {
  transform: rotate(-45deg);
}

.c-bounty-close-button {
  align-items: center;
  background-color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.c-bounty-rising-sun-form {
  background-color: #fff;
  bottom: 0;
  left: 10%;
  position: fixed;
  right: 10%;
  z-index: 99999999;
}

.c-bounty-rising-sun-form__overlay {
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  bottom: 0;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--g-transition-time) ease;
  z-index: 9999999;
}

.c-bounty-rising-sun-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin: 0 auto;
  max-width: 50%;
  padding: 3.125rem;
  text-align: center;
}

.c-bounty-rising-sun-form__heading {
  color: #ff5000;
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 2.563rem;
  margin: 0;
}

.c-bounty-rising-sun-form__sub-heading {
  font-size: 1rem;
  margin-bottom: 1.875rem;
  margin: 0;
}

.c-bounty-rising-sun-form__input {
  border: 1px solid #f0f1f3;
  font-size: 0.875rem;
  padding: 0.8rem;
  text-align: center;
}

.c-bounty-rising-sun-form__submit {
  background-color: #bd79e3;
  border-radius: 3px;
  border: none;
  color: #ffff;
  cursor: pointer;
  font-size: 0.875rem;
  margin-bottom: 1.875rem;
  padding: 0.8rem;
  text-transform: uppercase;
}

.c-bounty-rising-sun-form__copy {
  font-size: 0.625rem;
}

.c-bounty-rising-sun-form__tandc {
  font-size: 0.625rem;
  text-decoration: underline;
  color: #000000;
}

@media (max-width: 50em) {
  .c-bounty-rising-sun-form {
    left: 0;
    right: 0;
  }
}

@media (max-width: 40em) {
  .c-bounty-rising-sun-form__wrapper {
    max-width: 100%;
  }

  .c-bounty-successful-rising-sun-pop-up__wrapper {
    max-width: 100%;
  }
}

.c-bounty-successful-rising-sun-pop-up {
  background-color: #fff;
  bottom: 0;
  font-family: "Roboto", sans-serif;
  left: 10%;
  position: fixed;
  right: 10%;
  z-index: 99999999;
}

.c-bounty-successful-rising-sun-pop-up__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin: 0 auto;
  max-width: 50%;
  padding: 3.125rem;
  text-align: center;
}

.c-bounty-successful-rising-sun__overlay {
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  bottom: 0;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--g-transition-time) ease;
  z-index: 9999999;
}

.c-bounty-successful-rising-sun__heading {
  color: #ff5000;
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 2.563rem;
  margin: 0;
}

.c-bounty-successful-rising-sun__sub-heading {
  font-size: 1rem;
  margin-bottom: 1.875rem;
  margin: 0;
}

button.c-bounty-successful-rising-sun__submit {
  background-color: #bd79e3;
  border-radius: 3px;
  border: none;
  color: #ffff;
  cursor: pointer;
  font-size: 0.875rem;
  margin-bottom: 1.875rem;
  padding: 0.8rem;
  text-align: center;
  text-transform: uppercase;
}

/* ---------------------WHO MAG */

form {
  font-family: "Roboto", sans-serif;
}

.c-who-close-icon {
  height: 12px;
  width: 13px;
}

.c-who-close-icon:before,
.c-who-close-icon:after {
  background-color: #2ae3d8;
  content: " ";
  height: 12px;
  position: absolute;
  width: 2px;
}

.c-who-close-icon:before {
  transform: rotate(45deg);
}

.c-who-close-icon:after {
  transform: rotate(-45deg);
}

.c-who-close-button {
  align-items: center;
  background-color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 16px;
  top: 16px;
}

.c-who-rising-sun-form {
  background-color: #fff;
  bottom: 0;
  left: 10%;
  position: fixed;
  right: 10%;
  z-index: 99999999;
}

.c-who-rising-sun-form__overlay {
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  bottom: 0;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--g-transition-time) ease;
  z-index: 9999999;
}

.c-who-rising-sun-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  margin: 0 auto;
  max-width: 50%;
  padding: 50px;
  text-align: center;
}

.c-who-rising-sun-form__heading {
  color: #202020;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
  margin: 0;
}

.c-who-rising-sun-form__sub-heading {
  font-size: 16px;
  margin-bottom: 30px;
  margin: 0;
}

.c-who-rising-sun-form__input {
  border: 1px solid #f0f1f3;
  font-size: 14px;
  padding: 12px;
  text-align: center;
}

.c-who-rising-sun-form__submit {
  background-color: #2ae3d8;
  border-radius: 6px;
  border: none;
  color: #ffff;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 30px;
  padding: 12px;
  text-transform: uppercase;
}

.c-who-rising-sun-form__copy {
  font-size: 10px;
}

.c-who-rising-sun-form__tandc {
  font-size: 10px;
  text-decoration: underline;
  color: #000000;
}

@media (max-width: 50em) {
  .c-who-rising-sun-form {
    left: 0;
    right: 0;
  }
}

@media (max-width: 40em) {
  .c-who-rising-sun-form__wrapper {
    max-width: 100%;
  }

  .c-who-successful-rising-sun-pop-up__wrapper {
    max-width: 100%;
  }
}

.c-who-successful-rising-sun-pop-up {
  font-family: "Roboto", sans-serif;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  left: 10%;
  right: 10%;
  z-index: 99999999;
}

.c-who-successful-rising-sun-pop-up__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 50px;
}

.c-who-successful-rising-sun__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  border: none;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--g-transition-time) ease;
  z-index: 9999999;
  -webkit-overflow-scrolling: touch;
}

.c-who-successful-rising-sun__heading {
  margin: 0;
  margin-bottom: 40px;
  color: #2ae3d8;
  font-size: 30px;
  font-weight: 700;
}

.c-who-successful-rising-sun__sub-heading {
  margin: 0;
  margin-bottom: 30px;
  font-size: 16px;
}

button.c-who-successful-rising-sun__submit {
  background-color: #2ae3d8;
  border: none;
  border-radius: 6px;
  color: #ffff;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 12px;
  margin-bottom: 30px;
  text-align: center;
}

/* --------Elle Mag */

form {
  font-family: "Roboto", sans-serif;
}

.c-elle-close-icon {
  width: 2rem;
  height: 2rem;
}

.c-elle-close-icon:before,
.c-elle-close-icon:after {
  position: absolute;
  content: " ";
  height: 1.4rem;
  width: 4px;
  background-color: #c40010;
}

.c-elle-close-icon:before {
  transform: rotate(45deg);
}

.c-elle-close-icon:after {
  transform: rotate(-45deg);
}

.c-elle-close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: none;
  cursor: pointer;
  right: 1rem;
  top: 1rem;
}

.c-elle-rising-sun-form {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  left: 10%;
  right: 10%;
  z-index: 99999999;
}

.c-elle-rising-sun-form__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  border: none;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--g-transition-time) ease;
  z-index: 9999999;
  -webkit-overflow-scrolling: touch;
}

.c-elle-rising-sun-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 3.125rem;
}

.c-elle-rising-sun-form__heading {
  margin: 0;
  margin-bottom: 2.563rem;
  color: #202020;
  font-size: 1.875rem;
  font-weight: 700;
}

.c-elle-rising-sun-form__sub-heading {
  margin: 0;
  margin-bottom: 1.875rem;
  font-size: 1rem;
}

.c-elle-rising-sun-form__input {
  text-align: center;
  font-size: 0.875rem;
  padding: 0.8rem;
  border: 1px solid #f0f1f3;
}

.c-elle-rising-sun-form__submit {
  background-color: #c40010;
  border: none;
  border-radius: 3px;
  color: #ffff;
  font-size: 0.875rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.8rem;
  margin-bottom: 1.875rem;
}

.c-elle-rising-sun-form__copy {
  font-size: 0.625rem;
}

@media (max-width: 50em) {
  .c-elle-rising-sun-form {
    left: 0;
    right: 0;
  }
}

@media (max-width: 40em) {
  .c-elle-rising-sun-form__wrapper {
    max-width: 100%;
  }

  .c-elle-successful-rising-sun-pop-up__wrapper {
    max-width: 100%;
  }
}

.c-elle-successful-rising-sun-pop-up {
  font-family: "Roboto", sans-serif;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  left: 10%;
  right: 10%;
  z-index: 99999999;
}

.c-elle-successful-rising-sun-pop-up__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 3.125rem;
}

.c-elle-successful-rising-sun__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  border: none;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--g-transition-time) ease;
  z-index: 9999999;
  -webkit-overflow-scrolling: touch;
}

.c-elle-successful-rising-sun__heading {
  margin: 0;
  margin-bottom: 2.563rem;
  color: #c40010;
  font-size: 1.875rem;
  font-weight: 700;
}

.c-elle-successful-rising-sun__sub-heading {
  margin: 0;
  margin-bottom: 1.875rem;
  font-size: 1rem;
}

button.c-elle-successful-rising-sun__submit {
  background-color: #c40010;
  border: none;
  border-radius: 3px;
  color: #ffff;
  font-size: 0.875rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.8rem;
  margin-bottom: 1.875rem;
  text-align: center;
}

/* -------- homes to love mag */

form {
  font-family: "Roboto", sans-serif;
}

.c-homestolove-close-icon {
  width: 2rem;
  height: 2rem;
}

.c-homestolove-close-icon:before,
.c-homestolove-close-icon:after {
  position: absolute;
  content: " ";
  height: 1.4rem;
  width: 4px;
  background-color: #4e9c8c;
}

.c-homestolove-close-icon:before {
  transform: rotate(45deg);
}

.c-homestolove-close-icon:after {
  transform: rotate(-45deg);
}

.c-homestolove-close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: none;
  cursor: pointer;
  right: 1rem;
  top: 1rem;
}

.c-homestolove-rising-sun-form {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  left: 10%;
  right: 10%;
  z-index: 99999999;
}

.c-homestolove-rising-sun-form__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  border: none;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--g-transition-time) ease;
  z-index: 9999999;
  -webkit-overflow-scrolling: touch;
}

.c-homestolove-rising-sun-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 3.125rem;
}

.c-homestolove-rising-sun-form__heading {
  margin: 0;
  margin-bottom: 2.563rem;
  color: #202020;
  font-size: 1.875rem;
  font-weight: 700;
}

.c-homestolove-rising-sun-form__sub-heading {
  margin: 0;
  margin-bottom: 1.875rem;
  font-size: 1rem;
}

.c-homestolove-rising-sun-form__input {
  text-align: center;
  font-size: 0.875rem;
  padding: 0.8rem;
  border: 1px solid #f0f1f3;
}

.c-homestolove-rising-sun-form__submit {
  background-color: #4e9c8c;
  border: none;
  border-radius: 3px;
  color: #ffff;
  font-size: 0.875rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.8rem;
  margin-bottom: 1.875rem;
}

.c-homestolove-rising-sun-form__copy {
  font-size: 0.625rem;
}

@media (max-width: 50em) {
  .c-homestolove-rising-sun-form {
    left: 0;
    right: 0;
  }
}

@media (max-width: 40em) {
  .c-homestolove-rising-sun-form__wrapper {
    max-width: 100%;
  }

  .c-homestolove-successful-rising-sun-pop-up__wrapper {
    max-width: 100%;
  }
}

.c-homestolove-successful-rising-sun-pop-up {
  font-family: "Roboto", sans-serif;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  left: 10%;
  right: 10%;
  z-index: 99999999;
}

.c-homestolove-successful-rising-sun-pop-up__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 3.125rem;
}

.c-homestolove-successful-rising-sun__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  border: none;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--g-transition-time) ease;
  z-index: 9999999;
  -webkit-overflow-scrolling: touch;
}

.c-homestolove-successful-rising-sun__heading {
  margin: 0;
  margin-bottom: 2.563rem;
  color: #4e9c8c;
  font-size: 1.875rem;
  font-weight: 700;
}

.c-homestolove-successful-rising-sun__sub-heading {
  margin: 0;
  margin-bottom: 1.875rem;
  font-size: 1rem;
}

button.c-homestolove-successful-rising-sun__submit {
  background-color: #4e9c8c;
  border: none;
  border-radius: 3px;
  color: #ffff;
  font-size: 0.875rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.8rem;
  margin-bottom: 1.875rem;
  text-align: center;
}

/* -----------HOME BEAUTIFUL */

form {
  font-family: "Roboto", sans-serif;
}

.c-homebeautiful-close-icon {
  width: 13px;
  height: 12px;
}

.c-homebeautiful-close-icon:before,
.c-homebeautiful-close-icon:after {
  position: absolute;
  content: " ";
  height: 12px;
  width: 2px;
  background-color: #3baeab;
}

.c-homebeautiful-close-icon:before {
  transform: rotate(45deg);
}

.c-homebeautiful-close-icon:after {
  transform: rotate(-45deg);
}

.c-homebeautiful-close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: none;
  cursor: pointer;
  right: 16px;
  top: 16px;
}

.c-homebeautiful-rising-sun-form {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  left: 10%;
  right: 10%;
  z-index: 99999999;
}

.c-homebeautiful-rising-sun-form__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  border: none;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--g-transition-time) ease;
  z-index: 9999999;
  -webkit-overflow-scrolling: touch;
}

.c-homebeautiful-rising-sun-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 50px;
}

.c-homebeautiful-rising-sun-form__heading {
  margin: 0;
  margin-bottom: 40px;
  color: #202020;
  font-size: 30px;
  font-weight: 700;
}

.c-homebeautiful-rising-sun-form__sub-heading {
  margin: 0;
  margin-bottom: 30px;
  font-size: 16px;
}

.c-homebeautiful-rising-sun-form__input {
  text-align: center;
  font-size: 14px;
  padding: 12px;
  border: 1px solid #f0f1f3;
}

.c-homebeautiful-rising-sun-form__submit {
  background-color: #3baeab;
  border: none;
  border-radius: 6px;
  color: #ffff;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 12px;
  margin-bottom: 30px;
}

.c-homebeautiful-rising-sun-form__copy {
  font-size: 10px;
}

@media (max-width: 50em) {
  .c-homebeautiful-rising-sun-form {
    left: 0;
    right: 0;
  }
}

@media (max-width: 40em) {
  .c-homebeautiful-rising-sun-form__wrapper {
    max-width: 100%;
  }

  .c-homebeautiful-successful-rising-sun-pop-up__wrapper {
    max-width: 100%;
  }
}

.c-homebeautiful-successful-rising-sun-pop-up {
  font-family: "Roboto", sans-serif;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  left: 10%;
  right: 10%;
  z-index: 99999999;
}

.c-homebeautiful-successful-rising-sun-pop-up__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 50px;
}

.c-homebeautiful-successful-rising-sun__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  border: none;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--g-transition-time) ease;
  z-index: 9999999;
  -webkit-overflow-scrolling: touch;
}

.c-homebeautiful-successful-rising-sun__heading {
  margin: 0;
  margin-bottom: 40px;
  color: #3baeab;
  font-size: 30px;
  font-weight: 700;
}

.c-homebeautiful-successful-rising-sun__sub-heading {
  margin: 0;
  margin-bottom: 30px;
  font-size: 16px;
}

button.c-homebeautiful-successful-rising-sun__submit {
  background-color: #3baeab;
  border: none;
  border-radius: 6px;
  color: #ffff;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 12px;
  margin-bottom: 30px;
  text-align: center;
}

/* ----------BEAUTY HEAVEN*/

form {
  font-family: "Roboto", sans-serif;
}

.c-beautyheaven-close-icon {
  width: 2rem;
  height: 2rem;
}

.c-beautyheaven-close-icon:before,
.c-beautyheaven-close-icon:after {
  position: absolute;
  content: " ";
  height: 1.4rem;
  width: 4px;
  background-color: #aa276f;
}

.c-beautyheaven-close-icon:before {
  transform: rotate(45deg);
}

.c-beautyheaven-close-icon:after {
  transform: rotate(-45deg);
}

.c-beautyheaven-close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: none;
  cursor: pointer;
  right: 1rem;
  top: 1rem;
}

.c-beautyheaven-rising-sun-form {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  left: 10%;
  right: 10%;
  z-index: 99999999;
}

.c-beautyheaven-rising-sun-form__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  border: none;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--g-transition-time) ease;
  z-index: 9999999;
  -webkit-overflow-scrolling: touch;
}

.c-beautyheaven-rising-sun-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 3.125rem;
}

.c-beautyheaven-rising-sun-form__heading {
  margin: 0;
  margin-bottom: 2.563rem;
  color: #2b1e68;
  font-size: 1.875rem;
  font-weight: 700;
}

.c-beautyheaven-rising-sun-form__sub-heading {
  margin: 0;
  margin-bottom: 1.875rem;
  font-size: 1rem;
}

.c-beautyheaven-rising-sun-form__input {
  text-align: center;
  font-size: 0.875rem;
  padding: 0.8rem;
  border: 1px solid #f0f1f3;
}

.c-beautyheaven-rising-sun-form__submit {
  background-color: #f7eaf1;
  border: none;
  border-radius: 3px;
  color: #aa276f;
  font-size: 0.875rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.8rem;
  margin-bottom: 1.875rem;
}

.c-beautyheaven-rising-sun-form__copy {
  font-size: 0.625rem;
}

@media (max-width: 50em) {
  .c-beautyheaven-rising-sun-form {
    left: 0;
    right: 0;
  }
}

@media (max-width: 40em) {
  .c-beautyheaven-rising-sun-form__wrapper {
    max-width: 100%;
  }

  .c-beautyheaven-successful-rising-sun-pop-up__wrapper {
    max-width: 100%;
  }
}

.c-beautyheaven-successful-rising-sun-pop-up {
  font-family: "Roboto", sans-serif;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  left: 10%;
  right: 10%;
  z-index: 99999999;
}

.c-beautyheaven-successful-rising-sun-pop-up__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 3.125rem;
}

.c-beautyheaven-successful-rising-sun__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  border: none;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--g-transition-time) ease;
  z-index: 9999999;
  -webkit-overflow-scrolling: touch;
}

.c-beautyheaven-successful-rising-sun__heading {
  margin: 0;
  margin-bottom: 2.563rem;
  color: #2b1e68;
  font-size: 1.875rem;
  font-weight: 700;
}

.c-beautyheaven-successful-rising-sun__sub-heading {
  margin: 0;
  margin-bottom: 1.875rem;
  font-size: 1rem;
}

button.c-beautyheaven-successful-rising-sun__submit {
  background-color: #f7eaf1;
  border: none;
  border-radius: 3px;
  color: #aa276f;
  font-size: 0.875rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.8rem;
  margin-bottom: 1.875rem;
  text-align: center;
}

/* -------------Better homes and gardens */

form {
  font-family: "Roboto", sans-serif;
}

.c-betterhomesandgardens-close-icon {
  width: 13px;
  height: 12px;
}

.c-betterhomesandgardens-close-icon:before,
.c-betterhomesandgardens-close-icon:after {
  position: absolute;
  content: " ";
  height: 12px;
  width: 2px;
  background-color: #5198d1;
}

.c-betterhomesandgardens-close-icon:before {
  transform: rotate(45deg);
}

.c-betterhomesandgardens-close-icon:after {
  transform: rotate(-45deg);
}

.c-betterhomesandgardens-close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: none;
  cursor: pointer;
  right: 16px;
  top: 16px;
}

.c-betterhomesandgardens-rising-sun-form {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  left: 10%;
  right: 10%;
  z-index: 99999999;
}

.c-betterhomesandgardens-rising-sun-form__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  border: none;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--g-transition-time) ease;
  z-index: 9999999;
  -webkit-overflow-scrolling: touch;
}

.c-betterhomesandgardens-rising-sun-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 50px;
}

.c-betterhomesandgardens-rising-sun-form__heading {
  margin: 0;
  margin-bottom: 40px;
  color: #5198d1;
  font-size: 30px;
  font-weight: 700;
}

.c-betterhomesandgardens-rising-sun-form__sub-heading {
  margin: 0;
  margin-bottom: 30px;
  font-size: 16px;
}

.c-betterhomesandgardens-rising-sun-form__input {
  text-align: center;
  font-size: 14px;
  padding: 12px;
  border: 1px solid #f0f1f3;
}

.c-betterhomesandgardens-rising-sun-form__submit {
  background-color: #f7eaf1;
  border: none;
  border-radius: 6px;
  color: #5198d1;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 12px;
  margin-bottom: 30px;
}

.c-betterhomesandgardens-rising-sun-form__copy {
  font-size: 10px;
}

@media (max-width: 50em) {
  .c-betterhomesandgardens-rising-sun-form {
    left: 0;
    right: 0;
  }
}

@media (max-width: 40em) {
  .c-betterhomesandgardens-rising-sun-form__wrapper {
    max-width: 100%;
  }

  .c-betterhomesandgardens-successful-rising-sun-pop-up__wrapper {
    max-width: 100%;
  }
}

.c-betterhomesandgardens-successful-rising-sun-pop-up {
  font-family: "Roboto", sans-serif;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  left: 10%;
  right: 10%;
  z-index: 99999999;
}

.c-betterhomesandgardens-successful-rising-sun-pop-up__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 50px;
}

.c-betterhomesandgardens-successful-rising-sun__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  border: none;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--g-transition-time) ease;
  z-index: 9999999;
  -webkit-overflow-scrolling: touch;
}

.c-betterhomesandgardens-successful-rising-sun__heading {
  margin: 0;
  margin-bottom: 40px;
  color: #5198d1;
  font-size: 30px;
  font-weight: 700;
}

.c-betterhomesandgardens-successful-rising-sun__sub-heading {
  margin: 0;
  margin-bottom: 30px;
  font-size: 16px;
}

button.c-betterhomesandgardens-successful-rising-sun__submit {
  background-color: #5198d1;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 12px;
  margin-bottom: 30px;
  text-align: center;
}

/* --------BEAUTY CREW */

form {
  font-family: "Roboto", sans-serif;
}

.c-beautycrew-close-icon {
  width: 13px;
  height: 12px;
}

.c-beautycrew-close-icon:before,
.c-beautycrew-close-icon:after {
  position: absolute;
  content: " ";
  height: 12px;
  width: 2px;
  background-color: #e46460;
}

.c-beautycrew-close-icon:before {
  transform: rotate(45deg);
}

.c-beautycrew-close-icon:after {
  transform: rotate(-45deg);
}

.c-beautycrew-close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: none;
  cursor: pointer;
  right: 16px;
  top: 16px;
}

.c-beautycrew-rising-sun-form {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  left: 10%;
  right: 10%;
  z-index: 99999999;
}

.c-beautycrew-rising-sun-form__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  border: none;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--g-transition-time) ease;
  z-index: 9999999;
  -webkit-overflow-scrolling: touch;
}

.c-beautycrew-rising-sun-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 50px;
}

.c-beautycrew-rising-sun-form__heading {
  margin: 0;
  margin-bottom: 40px;
  color: #333333;
  font-size: 30px;
  font-weight: 700;
}

.c-beautycrew-rising-sun-form__sub-heading {
  margin: 0;
  margin-bottom: 30px;
  font-size: 16px;
}

.c-beautycrew-rising-sun-form__input {
  text-align: center;
  font-size: 14px;
  padding: 12px;
  border: 1px solid #f0f1f3;
}

.c-beautycrew-rising-sun-form__submit {
  background-color: #e46460;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 12px;
  margin-bottom: 30px;
}

.c-beautycrew-rising-sun-form__copy {
  font-size: 10px;
}

@media (max-width: 50em) {
  .c-beautycrew-rising-sun-form {
    left: 0;
    right: 0;
  }
}

@media (max-width: 40em) {
  .c-beautycrew-rising-sun-form__wrapper {
    max-width: 100%;
  }

  .c-beautycrew-successful-rising-sun-pop-up__wrapper {
    max-width: 100%;
  }
}

.c-beautycrew-successful-rising-sun-pop-up {
  font-family: "Roboto", sans-serif;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  left: 10%;
  right: 10%;
  z-index: 99999999;
}

.c-beautycrew-successful-rising-sun-pop-up__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 50px;
}

.c-beautycrew-successful-rising-sun__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  border: none;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--g-transition-time) ease;
  z-index: 9999999;
  -webkit-overflow-scrolling: touch;
}

.c-beautycrew-successful-rising-sun__heading {
  margin: 0;
  margin-bottom: 40px;
  color: #e46460;
  font-size: 30px;
  font-weight: 700;
}

.c-beautycrew-successful-rising-sun__sub-heading {
  margin: 0;
  margin-bottom: 30px;
  font-size: 16px;
}

button.c-beautycrew-successful-rising-sun__submit {
  background-color: #e46460;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 12px;
  margin-bottom: 30px;
  text-align: center;
}

/* -----------Marie Claire */

form {
  font-family: "Roboto", sans-serif;
}

.c-marieclaire-close-icon {
  width: 13px;
  height: 12px;
}

.c-marieclaire-close-icon:before,
.c-marieclaire-close-icon:after {
  position: absolute;
  content: " ";
  height: 12px;
  width: 2px;
  background-color: #262626;
}

.c-marieclaire-close-icon:before {
  transform: rotate(45deg);
}

.c-marieclaire-close-icon:after {
  transform: rotate(-45deg);
}

.c-marieclaire-close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: none;
  cursor: pointer;
  right: 16px;
  top: 16px;
}

.c-marieclaire-rising-sun-form {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  left: 10%;
  right: 10%;
  z-index: 99999999;
}

.c-marieclaire-rising-sun-form__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  border: none;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--g-transition-time) ease;
  z-index: 9999999;
  -webkit-overflow-scrolling: touch;
}

.c-marieclaire-rising-sun-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 50px;
}

.c-marieclaire-rising-sun-form__heading {
  margin: 0;
  margin-bottom: 40px;
  color: #262626;
  font-size: 30px;
  font-weight: 700;
}

.c-marieclaire-rising-sun-form__sub-heading {
  margin: 0;
  margin-bottom: 30px;
  font-size: 16px;
}

.c-marieclaire-rising-sun-form__input {
  text-align: center;
  font-size: 14px;
  padding: 12px;
  border: 1px solid #f0f1f3;
}

.c-marieclaire-rising-sun-form__submit {
  background-color: #262626;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 12px;
  margin-bottom: 30px;
}

.c-marieclaire-rising-sun-form__copy {
  font-size: 10px;
}

.c-marieclaire-rising-sun-form__tandc {
  font-size: 10px;
  text-decoration: underline;
  color: #000000;
}

@media (max-width: 50em) {
  .c-marieclaire-rising-sun-form {
    left: 0;
    right: 0;
  }
}

@media (max-width: 40em) {
  .c-marieclaire-rising-sun-form__wrapper {
    max-width: 100%;
  }

  .c-marieclaire-successful-rising-sun-pop-up__wrapper {
    max-width: 100%;
  }
}

.c-marieclaire-successful-rising-sun-pop-up {
  font-family: "Roboto", sans-serif;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  left: 10%;
  right: 10%;
  z-index: 99999999;
}

.c-marieclaire-successful-rising-sun-pop-up__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 50px;
}

.c-marieclaire-successful-rising-sun__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  border: none;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--g-transition-time) ease;
  z-index: 9999999;
  -webkit-overflow-scrolling: touch;
}

.c-marieclaire-successful-rising-sun__heading {
  margin: 0;
  margin-bottom: 40px;
  color: #262626;
  font-size: 30px;
  font-weight: 700;
}

.c-marieclaire-successful-rising-sun__sub-heading {
  margin: 0;
  margin-bottom: 30px;
  font-size: 16px;
}

button.c-marieclaire-successful-rising-sun__submit {
  background-color: #262626;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 12px;
  margin-bottom: 30px;
  text-align: center;
}

/* ------NTL */

form {
  font-family: "Roboto", sans-serif;
}

.c-nowtolove-close-icon {
  width: 2rem;
  height: 2rem;
}

.c-nowtolove-close-icon:before,
.c-nowtolove-close-icon:after {
  position: absolute;
  content: " ";
  height: 1.4rem;
  width: 4px;
  background-color: #002355;
}

.c-nowtolove-close-icon:before {
  transform: rotate(45deg);
}

.c-nowtolove-close-icon:after {
  transform: rotate(-45deg);
}

.c-nowtolove-close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: none;
  cursor: pointer;
  right: 1rem;
  top: 1rem;
}

.c-nowtolove-rising-sun-form {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  left: 10%;
  right: 10%;
  z-index: 99999999;
}

.c-nowtolove-rising-sun-form__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  border: none;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--g-transition-time) ease;
  z-index: 9999999;
  -webkit-overflow-scrolling: touch;
}

.c-nowtolove-rising-sun-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 3.125rem;
}

.c-nowtolove-rising-sun-form__heading {
  margin: 0;
  margin-bottom: 2.563rem;
  color: #002355;
  font-size: 1.875rem;
  font-weight: 700;
}

.c-nowtolove-rising-sun-form__sub-heading {
  margin: 0;
  margin-bottom: 1.875rem;
  font-size: 1rem;
}

.c-nowtolove-rising-sun-form__input {
  text-align: center;
  font-size: 0.875rem;
  padding: 0.8rem;
  border: 1px solid #f0f1f3;
}

.c-nowtolove-rising-sun-form__submit {
  background-color: #002355;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-size: 0.875rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.8rem;
  margin-bottom: 1.875rem;
}

.c-nowtolove-rising-sun-form__copy {
  font-size: 0.625rem;
}

.c-nowtolove-rising-sun-form__tandc {
  font-size: 10px;
  text-decoration: underline;
  color: #000000;
}

@media (max-width: 50em) {
  .c-nowtolove-rising-sun-form {
    left: 0;
    right: 0;
  }
}

@media (max-width: 40em) {
  .c-nowtolove-rising-sun-form__wrapper {
    max-width: 100%;
  }

  .c-nowtolove-successful-rising-sun-pop-up__wrapper {
    max-width: 100%;
  }
}

.c-nowtolove-successful-rising-sun-pop-up {
  font-family: "Roboto", sans-serif;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  left: 10%;
  right: 10%;
  z-index: 99999999;
}

.c-nowtolove-successful-rising-sun-pop-up__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 3.125rem;
}

.c-nowtolove-successful-rising-sun__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  border: none;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--g-transition-time) ease;
  z-index: 9999999;
  -webkit-overflow-scrolling: touch;
}

.c-nowtolove-successful-rising-sun__heading {
  margin: 0;
  margin-bottom: 2.563rem;
  color: #002355;
  font-size: 1.875rem;
  font-weight: 700;
}

.c-nowtolove-successful-rising-sun__sub-heading {
  margin: 0;
  margin-bottom: 1.875rem;
  font-size: 1rem;
}

button.c-nowtolove-successful-rising-sun__submit {
  background-color: #002355;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-size: 0.875rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.8rem;
  margin-bottom: 1.875rem;
  text-align: center;
}

/* NEW IDEA */

form {
  font-family: "Roboto", sans-serif;
}

.c-newidea-close-icon {
  width: 13px;
  height: 12px;
}

.c-newidea-close-icon:before,
.c-newidea-close-icon:after {
  position: absolute;
  content: " ";
  height: 12px;
  width: 2px;
  background-color: #fa29d8;
}

.c-newidea-close-icon:before {
  transform: rotate(45deg);
}

.c-newidea-close-icon:after {
  transform: rotate(-45deg);
}

.c-newidea-close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: none;
  cursor: pointer;
  right: 16px;
  top: 16px;
}

.c-newidea-rising-sun-form {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  left: 10%;
  right: 10%;
  z-index: 99999999;
}

.c-newidea-rising-sun-form__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  border: none;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--g-transition-time) ease;
  z-index: 9999999;
  -webkit-overflow-scrolling: touch;
}

.c-newidea-rising-sun-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 50px;
}

.c-newidea-rising-sun-form__heading {
  margin: 0;
  margin-bottom: 40px;
  color: #fa29d8;
  font-size: 30px;
  font-weight: 700;
}

.c-newidea-rising-sun-form__sub-heading {
  margin: 0;
  margin-bottom: 30px;
  font-size: 16px;
}

.c-newidea-rising-sun-form__input {
  text-align: center;
  font-size: 14px;
  padding: 12px;
  border: 1px solid #f0f1f3;
}

.c-newidea-rising-sun-form__submit {
  background-color: #fa29d8;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 12px;
  margin-bottom: 30px;
}

.c-newidea-rising-sun-form__copy {
  font-size: 10px;
}

.c-newidea-rising-sun-form__tandc {
  font-size: 10px;
  text-decoration: underline;
  color: #000000;
}

@media (max-width: 50em) {
  .c-newidea-rising-sun-form {
    left: 0;
    right: 0;
  }
}

@media (max-width: 40em) {
  .c-newidea-rising-sun-form__wrapper {
    max-width: 100%;
  }

  .c-newidea-successful-rising-sun-pop-up__wrapper {
    max-width: 100%;
  }
}

.c-newidea-successful-rising-sun-pop-up {
  font-family: "Roboto", sans-serif;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  left: 10%;
  right: 10%;
  z-index: 99999999;
}

.c-newidea-successful-rising-sun-pop-up__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 50px;
}

.c-newidea-successful-rising-sun__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  border: none;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--g-transition-time) ease;
  z-index: 9999999;
  -webkit-overflow-scrolling: touch;
}

.c-newidea-successful-rising-sun__heading {
  margin: 0;
  margin-bottom: 40px;
  color: #fa29d8;
  font-size: 30px;
  font-weight: 700;
}

.c-newidea-successful-rising-sun__sub-heading {
  margin: 0;
  margin-bottom: 30px;
  font-size: 16px;
}

button.c-newidea-successful-rising-sun__submit {
  background-color: #fa29d8;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 12px;
  margin-bottom: 30px;
  text-align: center;
}

/*  GOURMET TRAVELLER */

form {
  font-family: "Roboto", sans-serif;
}

.c-gourmettraveller-close-icon {
  width: 2rem;
  height: 2rem;
}

.c-gourmettraveller-close-icon:before,
.c-gourmettraveller-close-icon:after {
  position: absolute;
  content: " ";
  height: 1.4rem;
  width: 4px;
  background-color: #000000;
}

.c-gourmettraveller-close-icon:before {
  transform: rotate(45deg);
}

.c-gourmettraveller-close-icon:after {
  transform: rotate(-45deg);
}

.c-gourmettraveller-close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: none;
  cursor: pointer;
  right: 1rem;
  top: 1rem;
}

.c-gourmettraveller-rising-sun-form {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  left: 10%;
  right: 10%;
  z-index: 99999999;
}

.c-gourmettraveller-rising-sun-form__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  border: none;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--g-transition-time) ease;
  z-index: 9999999;
  -webkit-overflow-scrolling: touch;
}

.c-gourmettraveller-rising-sun-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 3.125rem;
}

.c-gourmettraveller-rising-sun-form__heading {
  margin: 0;
  margin-bottom: 2.563rem;
  color: #000000;
  font-size: 1.875rem;
  font-weight: 700;
}

.c-gourmettraveller-rising-sun-form__sub-heading {
  margin: 0;
  margin-bottom: 1.875rem;
  font-size: 1rem;
}

.c-gourmettraveller-rising-sun-form__input {
  text-align: center;
  font-size: 0.875rem;
  padding: 0.8rem;
  border: 1px solid #f0f1f3;
}

.c-gourmettraveller-rising-sun-form__submit {
  background-color: #000000;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-size: 0.875rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.8rem;
  margin-bottom: 1.875rem;
}

.c-gourmettraveller-rising-sun-form__copy {
  font-size: 0.625rem;
}

.c-gourmettraveller-rising-sun-form__tandc {
  font-size: 0.625rem;
  text-decoration: underline;
  color: #000000;
}

@media (max-width: 50em) {
  .c-gourmettraveller-rising-sun-form {
    left: 0;
    right: 0;
  }
}

@media (max-width: 40em) {
  .c-gourmettraveller-rising-sun-form__wrapper {
    max-width: 100%;
  }

  .c-gourmettraveller-successful-rising-sun-pop-up__wrapper {
    max-width: 100%;
  }
}

.c-gourmettraveller-successful-rising-sun-pop-up {
  font-family: "Roboto", sans-serif;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  left: 10%;
  right: 10%;
  z-index: 99999999;
}

.c-gourmettraveller-successful-rising-sun-pop-up__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 3.125rem;
}

.c-gourmettraveller-successful-rising-sun__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  border: none;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--g-transition-time) ease;
  z-index: 9999999;
  -webkit-overflow-scrolling: touch;
}

.c-gourmettraveller-successful-rising-sun__heading {
  margin: 0;
  margin-bottom: 2.563rem;
  color: #000000;
  font-size: 1.875rem;
  font-weight: 700;
}

.c-gourmettraveller-successful-rising-sun__sub-heading {
  margin: 0;
  margin-bottom: 1.875rem;
  font-size: 1rem;
}

button.c-gourmettraveller-successful-rising-sun__submit {
  background-color: #000000;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-size: 0.875rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.8rem;
  margin-bottom: 1.875rem;
  text-align: center;
}

/* -------------AWW FOOD */

.c-awwfood-close-icon {
  width: 2rem;
  height: 2rem;
}

.c-awwfood-close-icon:before,
.c-awwfood-close-icon:after {
  position: absolute;
  content: " ";
  height: 1.4rem;
  width: 4px;
  background-color: #000000;
}

.c-awwfood-close-icon:before {
  transform: rotate(45deg);
}

.c-awwfood-close-icon:after {
  transform: rotate(-45deg);
}

.c-awwfood-close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: none;
  cursor: pointer;
  right: 1rem;
  top: 1rem;
}

.c-awwfood-rising-sun-form {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  left: 10%;
  right: 10%;
  z-index: 99999999;
}

.c-awwfood-rising-sun-form__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  border: none;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--g-transition-time) ease;
  z-index: 9999999;
  -webkit-overflow-scrolling: touch;
}

.c-awwfood-rising-sun-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 3.125rem;
}

.c-awwfood-rising-sun-form__heading {
  margin: 0;
  margin-bottom: 2.563rem;
  color: #000000;
  font-size: 1.875rem;
  font-weight: 700;
}

.c-awwfood-rising-sun-form__sub-heading {
  margin: 0;
  margin-bottom: 1.875rem;
  font-size: 1rem;
}

.c-awwfood-rising-sun-form__input {
  text-align: center;
  font-size: 0.875rem;
  padding: 0.8rem;
  border: 1px solid #f0f1f3;
}

.c-awwfood-rising-sun-form__submit {
  background-color: #c7ad8c;
  border: none;
  border-radius: 3px;
  color: #ffff;
  font-size: 0.875rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.8rem;
  margin-bottom: 1.875rem;
}

.c-awwfood-rising-sun-form__copy {
  font-size: 0.625rem;
}

.c-awwfood-rising-sun-form__tandc {
  font-size: 0.625rem;
  text-decoration: underline;
  color: #000000;
}

@media (max-width: 50em) {
  .c-awwfood-rising-sun-form {
    left: 0;
    right: 0;
  }
}

@media (max-width: 40em) {
  .c-awwfood-rising-sun-form__wrapper {
    max-width: 100%;
  }

  .c-awwfood-successful-rising-sun-pop-up__wrapper {
    max-width: 100%;
  }
}

.c-awwfood-successful-rising-sun-pop-up {
  font-family: "Roboto", sans-serif;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  left: 10%;
  right: 10%;
  z-index: 99999999;
}

.c-awwfood-successful-rising-sun-pop-up__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  padding: 3.125rem;
}

.c-awwfood-successful-rising-sun__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  border: none;
  left: 0;
  opacity: 1;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity var(--g-transition-time) ease;
  z-index: 9999999;
  -webkit-overflow-scrolling: touch;
}

.c-awwfood-successful-rising-sun__heading {
  margin: 0;
  margin-bottom: 2.563rem;
  color: #000000;
  font-size: 1.875rem;
  font-weight: 700;
}

.c-awwfood-successful-rising-sun__sub-heading {
  margin: 0;
  margin-bottom: 1.875rem;
  font-size: 1rem;
}

button.c-awwfood-successful-rising-sun__submit {
  background-color: #c7ad8c;
  border: none;
  border-radius: 3px;
  color: #ffff;
  font-size: 0.875rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.8rem;
  margin-bottom: 1.875rem;
  text-align: center;
}

.h-hide-visually {
  border: 0;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
